@charset "utf-8";

/*新闻列表*/

.new_list_funtion_con{
	width:100%;
	position:relative;
	z-index:8;
	
}
.new_list_function_detail{
	width:100%;
	background:#eff2f7;
	padding:10px 0 10px 20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.new_list_function_detail .news_add_con{
	float:left;
	height:30px;
	line-height:30px;
	cursor:pointer;
}
.new_list_add_ico{
	float:left;
	width:16px;
	height:16px;
	margin-top:7px;
}
.new_list_add_txt{
	float:left;
	height:30px;
	line-height:30px;
	color:#333;
	font-size:12px;
	margin-left:5px;
}
.new_list_add_txt:hover{
	float:left;
	height:30px;
	line-height:30px;
	color:#bb0000;
	text-decoration: underline;
	font-size:12px;
	margin-left:5px;
}

.news_search_con{
	float:right;
}
.news_search_con .news_search_input{
	float:left;	
	width:240px;
	height:18px;
	line-height:18px;
	color:#ccc;
	background:#fff;
	text-indent:10px;
	padding:5px 0;
	border:1px solid #ccc;
}
.news_search_con .news_search_btn{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	background:#58cce9;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin-left:5px;
	margin-right:20px;
	cursor:pointer;
}
.news_search_con .news_search_btn:hover{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	background:#39c8ec;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin-left:5px;
	margin-right:20px;
	cursor:pointer;
}

.new_list_detail_table{
	width:100%;
}
.new_list_detail_table tr td{
	height:40px;
	line-height:40px;
	text-align:left;
	text-indent:16px;
	font-size:12px;
	color:#333;
}
.new_list_detail_table tr td:last-child{
	border-right:1px solid #ccc;
}
.new_list_detail_table thead tr td{
	background:#f0f0f0;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:2px solid #ccc;	
	font-weight:bold; 
}
.new_list_detail_table tbody tr td{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.new_list_detail_table tbody tr td .new_list_detail_table_edit_notice{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:12px;
	width:50px;
	height:24px;
	line-height:24px;
	background:#6ad7f2;
	text-align:left;
	color:#fff;
	cursor:pointer;
	margin-left:15px;
}
.new_list_detail_table tbody tr td .new_list_detail_table_edit_notice:hover{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:12px;
	width:50px;
	height:24px;
	line-height:24px;
	background:#39c8ec;
	text-align:left;
	color:#fff;
	cursor:pointer;
}
.new_list_detail_table tbody tr td .new_list_detail_table_del_notice{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:12px;
	width:50px;
	height:24px;
	line-height:24px;
	background:#6ad7f2;
	text-align:left;
	color:#fff;
	cursor:pointer;
	margin-left:15px;
}
.new_list_detail_table tbody tr td .new_list_detail_table_del_notice:hover{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:12px;
	width:50px;
	height:24px;
	line-height:24px;
	background:#39c8ec;
	text-align:left;
	color:#fff;
	cursor:pointer;
	margin-left:15px;
}
.new_list_detail_table tbody tr:hover{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#e1f8fd;
}
.new_list_detail_table tbody tr:nth-child(2n){
	background:#f9f9f9;
}
.new_list_detail_table tbody tr:nth-child(2n):hover{
	background:#e1f8fd;
}
.new_list_detail_table tbody tr td .new_list_table_edit{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:12px;
}
.new_list_detail_table tbody tr td .new_list_table_del{
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:12px;
	color:#333;
}



/***新闻下拉框 选课程****/
.new_list_function_detail .term_chose_con{
	float:right;
	height:30px;
	line-height:30px;
	cursor:pointer;
	margin-right:50px;
}
.term_chose_content{
	float:left;
	width:220px;
	height:30px;
	position:relative;
}
.term_chose_content_detail{
	float:left;
	width:189px;
	height:28px;
	line-height:28px;
	color:#333;
	background:#fff;
	text-align:left;
	text-indent:15px;
	border:1px solid #ccc;
	font-size:12px;
	cursor:pointer;
}
.term_chose_content_downclick{
	float:left;
	width:28px;
	height:28px;
	text-align:center;
	border:1px solid #ccc;
	border-left:none;
	cursor:pointer;
}

.term_chose_option_down{
	width:221px;
	position:absolute;
	left:0;
	top:30px;
	display:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	z-index:18;
	border:1px solid #ccc;
}
.term_chose_option_down li{
	width:219px;
	text-align:left;
	height:30px;
	line-height:30px;
	background:#fff;
	text-indent:15px;
	color:#333;
	cursor:pointer;
}
.term_chose_option_down li:hover{
	background:#d8edf2;
}

.term_chose_content_downclick img.term_chose_arrow_option{
	width:10px;
	height:7px;
}
.term_chose_txt{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	background:#6ad7f2;
	color:#fff;
	text-align:center;
	font-size:12px;
}




/***新闻列表新增弹出框***/
.pop_msg_bg_bnew_list{ 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.5); 
	position:fixed; 
	top:0; 
	left:0;
	z-index:15; 
	display:none;
}
.pop_msg_bnew_list{ 
	width:800px; 
	height:600px;
	background:#fff;
	position:fixed;
	z-index:16; 
	display:none;
}

.bnew_list_title{
	width:100%;
	height:42px;
	line-height:42px;
	background:#317ecc;
	text-align:left;
	color:#fff;
	text-indent:10px;
	font-size:16px;
	position:relative;
}
.bnew_list_pop_close{
	width:26px;
	height:26px;
	position:absolute;
	right:10px;
	top:8px;
	cursor:pointer;
	opacity:0.5;
}
.bnew_list_pop_close:hover{
	width:26px;
	height:26px;
	position:absolute;
	right:10px;
	top:8px;
	cursor:pointer;
	opacity:1;
}

.bnew_list_content{
	width:100%;
	padding:5px 20px 20px 20px;	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.bnew_list_link{
	width:100%;	
	padding-top:10px;
}
.bnew_list_left_txt{
	float:left;
	width:50px;
	height:35px;
	text-align:left;
	line-height:35px;
}
.bnew_list_right{
	float:left;
	padding-left:15px;
}
.checkbox_notice{
	float:left;
	padding-left:5px;
	font-size:12px;
}
.checkbox_notice span{
	float:left;
	padding-left:10px;
	font-size:12px;
	margin-top:5px;
}
.checkbox_notice_chosebox{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:18px;
	height:17px;
	background:url(../images/inner/login_checkbox_ico.png) no-repeat;
     margin-top:5px;
     margin-left:5px;
}
.checkbox_notice_chosebox_selected{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:18px;
	height:17px;
	background:url(../images/inner/login_checkbox_ico_selected.png) no-repeat;
     margin-top:5px;
     margin-left:5px;
}

.bnew_list_add_input{
	height:23px;
	line-height:23px;
	padding:5px 0;
	text-indent:10px;
	border:1px solid #ccc;
}
.width_228px{
	width:228px;	
}
.width_680px{
	width:480px;	
}
.bnew_list_add_title_textarea{
	width:660px;
	height:320px;
	padding:10px;
	resize:none;
	border:1px solid #ccc;
	overflow-x:hidden;
	overflow-y:auto;
	line-height:30px;
	letter-spacing:1px;
}
.bnew_list_link .bnew_list_send_btn{
	float:right;
}
.bnew_list_link .bnew_list_send_btn span{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#6ad7f2;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.bnew_list_link .bnew_list_send_btn span:hover{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#39c8ec;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.bnew_list_link .bnew_list_send_btn b{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#ff6d6d;
	color:#fff;
	font-size:12px;
	margin-right:15px;
	margin-left:22px;
	cursor:pointer;
}


.bnew_list_link .bnew_list_send_btn_center{
	width:270px;
	margin:0 auto;
	padding:8px 0;
}
.bnew_list_link .bnew_list_send_btn_center span{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#6ad7f2;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.bnew_list_link .bnew_list_send_btn_center span:hover{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#39c8ec;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.bnew_list_link .bnew_list_send_btn_center b{
	float:right;
	width:123px;
	height:30px;
	line-height:30px;
	background:#ff6d6d;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
.bnew_list_link .bnew_list_send_btn_center b:hover{
	float:right;
	width:123px;
	height:30px;
	line-height:30px;
	background:#ff5555;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}


.bnew_list_right .sex_chose_zone{
	float:left;
	width:100px;
	height:16px;
	line-height:16px;
	color:#333;
	text-align:left;
	font-size:12px;
	margin-top:6px;
	cursor:pointer;
}
.bnew_list_right .sex_chose_zone span.sex_chosebox{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	width:16px;
	height:16px;
	background:url(../images/exam/chosebox_ico.png) center center no-repeat;
	margin-right:8px;
}
.bnew_list_right .sex_chose_zone span.sex_chosebox_selected{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	width:16px;
	height:16px;
	background:url(../images/exam/chosebox_ico_selected.png) center center no-repeat;
	margin-right:8px;
}



.term_chose_content_select_con{
	float:right;
	margin-right:10px;
}

.term_chose_content_select_con .term_chose_content_detail{
	float:left;
	width:189px;
	height:30px;
	line-height:30px;
	color:#333;
	background:#fff;
	text-align:left;
	text-indent:15px;
	border:1px solid #ccc;
	font-size:12px;
	cursor:pointer;
	
}
.term_chose_content_select_con .term_chose_content_detail_btn{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	background:#58cce9;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin-left:5px;
	cursor:pointer;
}



/* 新增老师弹出框 */
.pop_msg_bg_teacher_list{ 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.5); 
	position:fixed; 
	top:0; 
	left:0;
	z-index:15; 
	display:none;
}

.pop_msg_teacher_list{ 
	width:600px; 
	height:300px;
	background:#fff;
	position:fixed;
	z-index:16; 
	display:none;
}

.pm_course_set_btn_con{
	width:100%;
}

.pm_course_set_btn_con .pm_course_set_btn_detail{
	float:right;
	padding-top:40px;
}
.pm_course_set_btn_con .pm_course_set_btn_detail span{
	float:left;
	width:123px;
	height:30px;
	line-height:30px;
	background:#6ad7f2;
	color:#fff;
	font-size:12px;
	cursor:pointer;
}
