@charset "utf-8";

/*找回密码*/

/*****头部中间区域****/
.find_pwd_con{
	width:1200px;
	margin:0 auto;
	text-align:center;	
	padding-top:87px;
}
.find_pwd_con .find_pwd_title{
	width:100%;
	color:#1a1a1a;
	text-align:left;
	text-indent:18px;
	font-size:16px;
	font-weight:bold;
	padding:40px 0 12px 0;
	border-bottom:2px solid #ccc;
}
.find_pwd_con .find_pwd_step{
	width:100%;
	margin:30px auto 0 auto;
	text-align:center;
}
.find_pwd_con .find_pwd_step img.step_img{
	width:790px;
	height:97px;
}
.find_pwd_con .find_pwd_step .step_detail_con{
	width:790px;
	margin:0 auto;
	text-align:center;
}
.find_pwd_con .find_pwd_step .step_detail{
	width:500px;
	margin-left:250px;
	text-align:left;
	padding-bottom:100px;
}
.find_pwd_con .find_pwd_step .step_detail p{
	width:500px;
	font-size:14px;
	color:#333;
	text-align:left;
	margin-top:50px;
}
.find_pwd_con .find_pwd_step .step_detail input.pwd_input_big{
	width:326px;
	height:23px;
	line-height:23px;
	font-size:14px;
	padding:5px 0;
	text-indent:6px;
	color:#ccc;
	border:1px solid #ccc;
}
.find_pwd_step .step_detail .pwd_yzm_con{
	width:500px;
	padding-top:20px;
}
.find_pwd_step .step_detail .pwd_yzm_con input.yzm_input{
	float:left;
	width:115px;
	height:23px;
	line-height:23px;
	font-size:14px;
	padding:5px 0;
	text-indent:6px;
	color:#ccc;
	border:1px solid #ccc;
}
.find_pwd_step .step_detail .pwd_yzm_con img.yzm_img{
	float:left;
	width:115px;
	height:35px;
}
.find_pwd_step .step_detail .pwd_yzm_con .change_txt{
	float:left;
	height:35px;
	line-height:35px;
	color:#4dd8fb;
	font-size:14px;
	margin-left:15px;
	cursor:pointer;
}
.find_pwd_con .find_pwd_step .step_detail .step_btn{
	width:188px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#4dd8fb;
	color:#fff;
	font-size:14px;
	margin-top:24px;
	cursor:pointer;
}


/****步骤2****/
.step_detail .yzm_mail_txt{
	width:500px;
	font-size:14px;
	color:#333;
	text-align:left;
	margin-top:18px;
}
.step_detail .yzm_mail_txt span{
	font-size:14px;
	color:#333;
}
.find_pwd_step .step_detail .pwd_yzm_con .yzm_txt_tit{
	float:left;
	height:35px;
	line-height:35px;
	color:#333;
	font-size:14px;
	margin-right:12px;
}
.find_pwd_step .step_detail .pwd_yzm_con .send_yzm_btn{
	float:left;
	height:33px;
	line-height:33px;
	text-align:center;
	background:#f2f2f2;
	color:#333;
	font-size:14px;
	margin-left:12px;
	padding:0 14px;
	border:1px solid #ccc;
}
.find_pwd_step .step_detail .pwd_yzm_con .yzm_sended_txt{
	float:left;
	height:35px;
	line-height:35px;
	color:#666;
	font-size:12px;
	margin-left:12px;
}


/****第三步修改密码****/
.find_pwd_step .step_detail .pwd_yzm_con .newpwd_txt_tit{
	float:left;
	width:80px;
	height:35px;
	line-height:35px;
	text-align:right;
	color:#333;
	font-size:14px;
	margin-right:12px;
}
.find_pwd_step .step_detail input.pwd_input_changepwd{
	width:216px;
	height:23px;
	line-height:23px;
	font-size:14px;
	padding:5px 0;
	text-indent:6px;
	color:#ccc;
	border:1px solid #ccc;
}
.step_detail .step_confirm_btn{
	width:129px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#4dd8fb;
	color:#fff;
	font-size:14px;
	margin-top:20px;
	margin-left:92px;
	cursor:pointer;
}

.pwd_change_wancheng{
	width:500px;
	margin-left:250px;
	text-align:left;
	padding-top:40px;
	padding-bottom:100px;
}
.pwd_change_wancheng .pwd_change_wanchengtxt{
	width:500px;
	text-align:left;
}
.pwd_change_wanchengtxt .pwd_change_wanchengtxt_ico{
	float:left;
	width:36px;
	height:36px;
	background:url(../images/find_pwd/pwd_right_ico.png) no-repeat;
	margin-right:16px;
}
.pwd_change_wanchengtxt .pwd_change_wanchengtxt_detail{
	float:left;
	height:36px;
	line-height:36px;
	color:#333;
	font-size:14px;	
}
.pwd_change_wancheng .pwd_change_wancheng_btn{
	width:500px;
	text-align:left;
}
.pwd_change_wancheng .pwd_change_wancheng_btn a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:182px;
	height:50px;
	line-height:50px;
	background:#4dd8fb;
	color:#fff;
	text-align:center;
	font-size:14px;
	margin-left:80px;
	margin-top:30px;
}



	